@import "IFRN/general";
@import "IFRN/variables";

@import "IFRN/head/navbar.scss";
@import "IFRN/head/messages.scss";


@import "IFRN/drawers/drawers";
@import "IFRN/drawers/courseindex";

@import "IFRN/drawers/notifications";

@import "IFRN/footer";
@import "IFRN/frontpage.scss";
@import "IFRN/login";
@import "IFRN/profileuser";
@import "IFRN/enrollcourse";
@import "IFRN/grades";

@import "IFRN/menus/notloggedinmenu";
@import "IFRN/menus/secondarynavigation";
@import "IFRN/menus/breadcrumbs.scss";
@import "IFRN/menus/lang-menu-flags";

@import "IFRN/blocks/myoverview";

