.navbar-suap {
    .breadcrumb {
        display: flex;
        // align-items: center;
        font: var(--font-button3);
        margin-bottom: 0;
        margin-block: .5rem; // 8px
        padding: 0;
        border-radius: 0;
        a {
            color: var(--primary);
        }
    
        span {
            color: var(--dark-light);
                
        }
    
        .breadcrumb-item{
            max-width: 18rem;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0;
            &.dropdown {
                display: none;
                button {
                    line-height: .5;
                    color: var(--primary);
                    &:hover {
                        color: var(--primary-dark);
                    }
                }
            }
            span{
                max-width: 28rem;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            i {
                margin-right: 0;
            }
        }
    
        .breadcrumb-item + .breadcrumb-item::before {
            content: " / ";
            padding-inline: .5rem; //8px
        }
    }

    @include media-breakpoint-down(sm) {
        .breadcrumb:has(> .breadcrumb-item:nth-child(3)) {
            // esconder intermediários, exceto o dropdown
            .breadcrumb-item:not(.dropdown):nth-child(n+2):nth-last-child(n+2) {
                display: none;
            }

            // garantir que o dropdown apareça
            .breadcrumb-item.dropdown {
                display: list-item;
                overflow: visible;
                .dropdown-toggle {
                    display: flex;
                }
            }
        }
    }

}
