.notloggedinmenu {
    display: none;
}
.counteroff, .pagelayout-login, .guestuser {
    .notloggedinmenu {
        display: flex;
        align-items: center;
        span {
            display: block;
            width: 1px;
            height: 32px;
            background: var(--light-dark);
            margin-inline: 1.5rem; //24px
        }
    }
}

