.notloggedinmenu {
    display: none;
}
.counteroff {
    .notloggedinmenu {
        display: flex;
        align-items: center;
        // select {
        //     background: none;
        //     border: none;
        //     cursor: pointer;
        //     font: var(--font-button1);
        //     color: var(--dark);
        // }
        span {
            display: block;
            width: 1px;
            height: 32px;
            background: var(--light-dark);
            margin-inline: 1.5rem; //24px
        }

        .dropdown-menu {
            min-width: auto;
            &.show {
                display: grid;
                gap: .5rem;
            }
            .dropdown-item {
                padding: .5rem;
                &.active {
                    background-color: var(--light-dark);
                }
            }
        }
    }
}

