.frontpage-footer-bg {
    background-color: var(--dark);
}

.frontpage-footer {
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--general-white);

    .frontpage-footer-content {
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        .frontpage-footer-content-first-section {
            display: flex;
            flex-direction: column;

            .frontpage-footer-title {
                font: var(--font-heading7);
                margin: 0;
            }

            a.frontpage-footer-suport-button {
                color: var(--dark);
                text-decoration: none;
                font: var(--font-button1);
                background-color: var(--light);
                padding: 8px 16px;
                border-radius: 40px;
                width: fit-content;
                margin-block: 2rem;
            }

            p {
                font: var(--font-paragraph1);
                margin: 0;
            }

            .frontpage-footer-socialmedia {
                display: flex;
                justify-content: start;
                margin: 20px 0;

                a {
                    margin-right: 2rem;

                    i {
                        color: var(--general-white);
                        font-size: 25px;
                    }
                }
            }
        }

        .frontpage-footer-content-second-section {
            display: flex;
            justify-content: space-between;
            flex-grow: 0;
            gap: 3rem;
            color: var(--general-white);
            // Se tiver 3 e 3 ou mais colunas dentro
            &:has(> div:nth-of-type(3):last-of-type) {
                flex-grow: 1;
                max-width: 507px;
            }
            &:has(> div:nth-of-type(3)) {
                flex-grow: 1;
            }
            
            span {
                display: inline-block;
                font: var(--font-heading2);
                margin-bottom: 1.5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font: var(--font-button2);
                li a {
                    color: var(--general-white);
                }
            }
        }
    }

    .frontpage-footer-credits {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin-top: 40px;
        border-top: 1px solid var(--light-lighter);

        p {
            font: var(--font-heading4);
            margin: 0;
            color: var(--light-dark);
        }

        .frontpage-footer-credits-links {
            display: flex;
            gap: 2rem;

            a {
                color: var(--light-dark);
                text-decoration: none;
                font: var(--font-heading4);
            }
        }
    }

    @include media-breakpoint-down(md) {
        .frontpage-footer-content .frontpage-footer-content-second-section {
            display: none;
        }
        .frontpage-footer-credits {
            flex-direction: column;
            gap: 2rem;
        }
    }
}