div[role="main"] {
    padding: 0;
}

.show-drawer-right {
    margin-right: 0 !important;
}

#page-site-index, #page-my-index {
    .block-region {
        > .card {
            background-color: transparent;
            border: none;
        }
        .card-body {
            padding: 0 !important;
        }
    }
    .section-item {
        padding: 0;
        border: none;
    }
} 

#page-my-index {
    .page-header-headings {
        display: none;
    }
}

.bg-green-gradient {
    background: var(--bg-green-gradient);
}