.userprofile {
    .description, .page-context-header {
        display: none !important;
    }
}

.profile-view-suap {
    .user-title {
        font: var(--font-heading2);
        color: var(--dark);
        margin-bottom: 1rem;
    }
    .user-title-sub {
        font: var(--font-heading3);
        margin-top: .5rem;
        margin-bottom: .25rem;
    }
    p {
        font: var(--font-paragraph2);
    }
    .profile-header {
        display: flex;
        gap: .5rem;
        justify-content: space-between;
        margin-bottom: 1rem;
        .user-title {
            margin-bottom: 0;
        }
        .profile-header-buttons {
            display: flex;
            gap: .5rem;
        }
    }
    .user-group-suap {
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid var(--light-dark);
        border-radius: 1rem;
        .contact-container {
            display: flex;
            gap: 1rem;
            img {
                border-radius: 50%;
                height: 80px;
                width: 80px;
            }
            .user-title {
                margin-bottom: .25rem; //4px
            }
            .user-role {
                font: var(--font-heading4);
                color: var(--dark-light);
                margin-bottom: .5rem; //8px
            }
            .user-mail {
                font: var(--font-heading4);
                word-break: break-word;
            }
        }

        &.aboutme-container {
            padding-bottom: .25rem; //4px
        }
        .aboutme-title {
            font: var(--font-heading5);
            color: var(--dark-light);
            margin-bottom: .25rem; //4px
        }


        .cert-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            .cert-item {
                display: flex;
                gap: 1rem;
                background-color: var(--light-lighter);
                border-radius: 1rem;
                padding: 1rem;
                img {
                    width: 120px;
                    height: fit-content;
                }
                h3 {
                    font: var(--font-heading4);
                }
                .issued-date {
                    font: var(--font-heading5);
                    color: var(--dark-light);
                }
            }
        }

        .badges-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        .badge-item {
            width: 182px;
            background-color: var(--light-lighter);
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
            img {
                border-radius: 50%;
            }
            .badge-title {
                font: var(--font-button3);
                text-align: left;
                color: var(--dark);
                text-decoration: none;
                margin-top: 1rem;
                margin-bottom: 0px;
            }
        }

        .profile-section-expand {
            margin-top: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-content {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                .card {
                    flex: 1;
                    min-width: 260px;
                }
            }
            .toggle-section {
                margin-top: .5rem;
                width: fit-content;
            }
        }
        
    }

    /* container do botão + menu */
    .dropdown-accordion {
      position: relative;
      display: inline-block;

        /* botão de três pontinhos */
        .dropdown-btn {
            height: 100%;
            color: var(--dark);
            background-color: var(--light);
            border-radius: 1rem;
            border: none;
            padding: 6px;
            display: flex;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
            transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
            &:hover, &[aria-expanded="true"] {
                background-color: var(--light-dark);
            }
        }

        /* dropdown absoluto */
        .dropdown-menu {
            display: none;              /* escondido por padrão */
            position: absolute;
            top: 100%;                  /* logo abaixo do botão */
            right: 0;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            z-index: 100;
        }
        .dropdown-menu.show {
            display: block;
        }

        /* estilo básico do menu */
        .menu,
        .submenu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu > li {
            margin-bottom: 2px;
            cursor: pointer;
            padding: 10px;
            position: relative;
            a {
                color: var(--dark);
                text-decoration: none;
            }
        }

        .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        .menu > li.open .submenu {
            max-height: 500px;
            transition: max-height 0.5s ease-in;
        }
        .menu > li .arrow {
            float: right;
            transition: transform 0.3s;
        }
        .menu > li.open .arrow {
            transform: rotate(90deg);   
        }
    }

    @include media-breakpoint-down(sm) {
        .profile-header {
            flex-direction: column;
        }
        .user-group-suap {
            .contact-container {
                gap: .5rem;
                img {
                    height: 50px;
                    width: 50px;
                }                  
            }
            .cert-container {
                grid-template-columns: 1fr;
                img {
                    display: none;
                }
            }
        }
    }
}