:root {
    /* COLORS */
    --primary: #098E95;
    --primary-dark: #0F5A60;
    --primary-light: #CEFDEF;
    --secondary: #9F6EDE; 
    --secondary-dark: #633594;
    --secondary-light: #E7DBF9;
    --success: #85C121;
    --success-dark: #3F5D17;
    --success-light: #E3F9CE;
    --danger: #FE5448;
    --danger-dark: #A41A10;
    --danger-light: #FFE2E0;
    --warning: #EBBE34;
    --warning-dark: #BC7D12;
    --warning-light: #FAF3C7;
    --info: #FF7E33;
    --info-dark: #C62F08;
    --info-light: #FFE9D4;
    --light: #EBEBEB;
    --light-dark: #CCCCCC;
    --light-lighter: #F5F5F5;
    --dark: #2B2B2B;
    --dark-darker: #141414;
    --dark-light: #858585;
    --general-white: #FFFFFF;
    --bg-green: #fafefd;
    --bg-green-gradient: linear-gradient(131.57deg, #F1FDF9 7.49%, #FFFFFF 84.71%);
    
    /* SIZES */
    --counter-close: 56px;
    --counter-default: 252px;
    --drawer-open: 294px;
    --max-width-layout: 894px;
    --max-width-layout-expanded: 1180px;

    /* SHADOWS */
    --shadow-primary: 0px 4px 4px 0px #00000040;
}

body {
    --font-scale: 1;

    /* FONTS */
    --font-family: "Noto Sans", sans-serif;

    --font-heading1: 700 calc(1.5rem * var(--font-scale))/normal var(--font-family);
    --font-heading2: 700 calc(1.125rem * var(--font-scale))/normal var(--font-family);
    --font-heading3: 500 calc(1rem * var(--font-scale))/normal var(--font-family);
    --font-heading4: 500 calc(0.875rem * var(--font-scale))/normal var(--font-family);
    --font-heading5: 500 calc(0.75rem * var(--font-scale))/normal var(--font-family);
    --font-heading6: 500 calc(0.625rem * var(--font-scale))/normal var(--font-family);
    --font-heading7: 700 calc(2.375rem * var(--font-scale))/normal var(--font-family);

    --font-button1: 600 calc(1rem * var(--font-scale))/normal var(--font-family);
    --font-button2: 600 calc(0.875rem * var(--font-scale))/normal var(--font-family);
    --font-button3: 600 calc(0.75rem * var(--font-scale))/normal var(--font-family);

    --font-paragraph1: 400 calc(1rem * var(--font-scale))/1.5 var(--font-family);
    --font-paragraph2: 400 calc(0.875rem * var(--font-scale))/1.5 var(--font-family);
}
