#page-site-index{

    &.counteroff {
        width: auto;
    }

    .navbar-suap-container {
        position: static;
        width: fit-content;
        margin-left: auto;
        
        .editmode-switch-form {
            padding-left: 0;
        }
    }

}


.counter-close .navbar-suap {
    width: calc(100% - var(--counter-close) - 16px);
}

.counteroff .navbar-suap {
    width: 100%;
    display: flex;
    gap: 1rem;
    .navbar-suap-container {
        position: static;
    }

    &-ava-name {
        background-color: var(--primary);
        min-width: var(--counter-default);
        margin-top: .5rem; //8px
        padding-inline: 1rem;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow-primary);

        a {
            font: var(--font-heading1);
            margin: 0;
            color: var(--general-white);
        }
    }
}

//Quando não logado e na frontpage não existe breadcrumb, então menu fica sozinho à direita
.notloggedin.pagelayout-frontpage .navbar-suap .navbar-suap-container,
.editswitchon.pagelayout-frontpage .navbar-suap .navbar-suap-container {
    justify-content: end;
    .editmode-switch-form{
        border-left: transparent
    }
}

.navbar-suap { 
    width: calc(100% - var(--counter-default) - 16px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    transition: all .2s ease-out;
    background-color: var(--general-white);
    min-height: 30px;

    &-ava-name {
        display: none;
    }
    
    .navbar-suap-container {
        position: fixed;
        width: -moz-available;
        width: -webkit-fill-available;  
        display: flex;       
        justify-content: space-between;
        gap: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: var(--general-white);
        border-radius: 1rem;
        z-index: 1030;
        padding: .5rem 1rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }

    .navbar-suap-pos {
        margin-top: 78px;
        margin-left: 32px;
    }

    .editmode-switch-form{
        border-left: 1px solid var(--light-dark);
        padding-left: 1rem;
    }
    
    .divider{
        display: none;
    }
    
    .editmode-switch-form .input-group{
        background-color:var(--light);
        flex-direction: row-reverse;
        align-items: center;
        border-radius: 16px;
        flex-wrap: nowrap;
        label{
            font: var(--font-heading6);
            white-space: nowrap;
        }
    }
}

.layout-width-expanded {
    #page-wrapper {
        background: var(--bg-green-gradient);
        height: auto;
    }
    .navbar-suap {
        background: transparent;
    }
} 

.custom-switch{
    padding-left: 2.3rem;
}

.custom-switch .custom-control-label::before{
    width: 28px;
    height: 16px;
    left: -2rem;
    background-color: var(--light-dark);
    border: none;
}
.custom-switch .custom-control-label::after{
    width: 12px;
    height: 12px;
    left: -1.9rem;
    background-color: var(--general-white);
}


.custom-switch .custom-control-input:checked~.custom-control-label::after{
    transform: translateX(0.8rem);
}
.text-primary{
    color: var(--primary) !important;
}

@include media-breakpoint-down(sm) {
    #page-site-index .editmode-switch-form label { 
        position: static;
        width: auto;
        height: auto;
    }
    .counter-close .navbar-suap {
        width: calc(100% - var(--counter-close) - 8px);
    }
    .counteroff .navbar-suap {
        .navbar-suap-container {
            margin-left: 1rem;
        }
        &-ava-name {
            min-width: auto;
        }
    }

    .navbar-suap {
        width: calc(100% - var(--counter-close) - 8px);
        .navbar-suap-container {
            margin-right: .5rem;
        }
    }
}