{{> theme_boost/head }}

<body {{{ bodyattributes }}} data-zoom="{{accessibility_zoom_level}}">
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block bg-green-gradient">

    {{{ output.standard_top_of_body_html }}}

    {{#loggedin_and_notguestuser}}
        {{> theme_suap/counter}}
    {{/loggedin_and_notguestuser}}

    {{#viewnavbar}}
        {{> theme_suap/navbar}}
    {{/viewnavbar}}
    
    <div id="page" data-region="mainpage" data-usertour="scroller" class="page-suap drag-container">
        <div class="max-width-suap">
            {{{ addcontentpreblockbutton }}}
            {{{ contentpreblocks }}}

            <div id="topofscroll">
                <section id="region-main" aria-label="{{#str}}content{{/str}}">
                    {{{ output.main_content }}}
                </section>
                {{! <div id="page-content" class="d-print-block main-inner bg-green">
                    <div id="region-main-box">
                    </div>
                </div> }}
            </div>

            {{{ addcontentposblockbutton }}}
            {{{ contentposblocks }}}
        </div>
        
        {{> theme_boost/footer }}
    </div>
        
           
    
    {{> theme_suap/footer}}

</div>

</body>
</html>


{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

