<div class="frontpage-hero-main-header">
    <div class="frontpage-hero-main-header-content">

        <h2 class="frontpage-hero-main-header-title">
            {{{frontpage_main_courses_title}}}
        </h2>

        <div class="frontpage-hero-main-header-filter">
            <div class="frontpage-hero-main-header-filter-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="{{#str}}search, core{{/str}}" id="search">
            </div>
            <button id="filter-courses" class="btn btn-primary btn-icon-text">
                <i class="fa-solid fa-sliders"></i>
                {{#str}}filter, theme_suap{{/str}}
                <span id="filter-badge" class="filter-badge" style="display: none;">0</span>
            </button>
        </div>
        
    </div>
</div>