.btn.btn-icon.icons-collapse-expand {
    color: var(--secondary);
    background-color: var(--secondary-light);
    &.collapsed {
        color: var(--dark);
        background-color: var(--light);
    }
}

.btn-icon-text {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.btn-primary {
    padding: .5rem 1rem;
    background-color: var(--primary);
    border-radius: 40px;
    font: var(--font-button2);
    border: none;
    &:hover, &:focus {
        background-color: var(--primary-dark);
        text-decoration: none;
    }

}

.btn-secondary {
    background-color: var(--light);
    font: var(--font-button2);
    color: var(--dark);
    border-radius: 40px;
    padding: .5rem 1rem;
    border: none;
    gap: .25rem;
    &:hover {
        background-color: var(--light-dark);
    }
}

.btn-tertiary {
    color: var(--secondary-dark);
    background-color: var(--secondary-light);
    font: var(--font-heading5);
    border-radius: .5rem;
    border: none;
    &:hover {
        background-color: var(--secondary-dark);
        color: var(--secondary-light);
    }

}

.btn-link {
    font: var(--font-heading4);
    color: var(--primary);
    &:hover {
        color: var(--primary-dark);
    }
}

.block-add {
    background-color: var(--primary-light);
    color: var(--primary);
    border-color: var(--primary);
    &:hover, &:focus {
        background-color: var(--primary-dark);
        color: white;
        border-color: var(--primary-light);
        box-shadow: none;
    }
}

.btn.add-section {
    color: var(--primary);
}

.custom-control-input:checked~.custom-control-label::before{
    background-color: var(--primary);
}

.custom-control-label::before{
    border: 2px solid var(--primary)
}