<div class="frontpage-footer-bg">

    <div class="frontpage-footer page-suap"> 
        <div class="frontpage-footer-content max-width-suap">
            <div class="frontpage-footer-content-first-section">
                <p class="frontpage-footer-title">{{{footer_title}}}</p>
                <a class="frontpage-footer-suport-button" href="{{footer_support_button_url}}">{{footer_support_button}}</a>
                <p>{{footer_social_media_text}}</p>
                <div class="frontpage-footer-socialmedia">
                    {{#footer_social_media_facebook}}
                    <a href="{{footer_social_media_facebook}}" target="_blank" alt="Facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    {{/footer_social_media_facebook}}
                    {{#footer_social_media_instagram}}
                    <a href="{{footer_social_media_instagram}}" target="_blank" alt="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    {{/footer_social_media_instagram}}
                    {{#footer_social_media_youtube}}
                    <a href="{{footer_social_media_youtube}}" target="_blank" alt="Youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    {{/footer_social_media_youtube}}
                </div>
            </div>
            <div class="frontpage-footer-content-second-section">
                <div class="frontpage-footer-content-second-section-column">
                    <p>{{footer_map_first_column_title}}</p>
                    <p>{{footer_map_first_column_first_line}}</p>
                    <p>{{footer_map_first_column_second_line}}</p>
                    <p>{{footer_map_first_column_third_line}}</p>
                    <p>{{footer_map_first_column_fourth_line}}</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>{{footer_map_second_column_title}}</p>
                    <p>{{footer_map_second_column_first_line}}</p>
                    <p>{{footer_map_second_column_second_line}}</p>
                    <p>{{footer_map_second_column_third_line}}</p>
                    <p>{{footer_map_second_column_fourth_line}}</p>
                </div>
                <div class="frontpage-footer-content-second-section-column">
                    <p>{{footer_map_third_column_title}}</p>
                    <p>{{footer_map_third_column_first_line}}</p>
                    <p>{{footer_map_third_column_second_line}}</p>
                    <p>{{footer_map_third_column_third_line}}</p>
                    <p>{{footer_map_third_column_fourth_line}}</p>
                </div>
            </div>
        </div>
        <div class="frontpage-footer-credits max-width-suap">
            <p>{{footer_credits_text}}</p>
            <div class="frontpage-footer-credits-links">
                <a href="{{footer_credits_first_link_url}}" {{#footer_credits_first_link_new_window}} target="_blank"{{/footer_credits_first_link_new_window}}>
                    {{footer_credits_first_link}}
                </a>
                <a href="{{footer_credits_second_link_url}}" {{#footer_credits_second_link_new_window}} target="_blank"{{/footer_credits_second_link_new_window}}>{{footer_credits_second_link}}</a>
            </div>
        </div>
    </div>

</div>