<div class="navbar-suap">
    
    <div class="navbar-suap-ava-name">
        <a href="{{config.wwwroot}}/?redirect=0">{{sitename}}</a>
    </div>
    
    <div class="navbar-suap-container">  
        {{{navbar}}} 
        {{{ output.suap_lang_menu }}}
        {{{ output.edit_switch }}}
    </div>

</div>