<style>
    .profile-section-expand {
        margin-block: 1rem;
        display: flex;
        flex-direction: column;
        .toggle-section {
            margin-top: .5rem;
        }
    }
</style>

<div class="profile-section-expand">
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    <a class="toggle-section btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Ver mais
    </a>
</div>