<div class="profile-section-expand">
    <div class="collapse" id="collapseProfile">
        <div class="profile-content">
        {{#categories_user}}
        <div class="card card-body">
            <h2 class="user-title">{{title}}</h2>
            {{#nodes}}
                <h3 class="user-title-sub">{{title}}</h3>
                {{{content}}}
            {{/nodes}}
        </div>
        {{/categories_user}}
        </div>
    </div>
    <a class="toggle-section" data-toggle="collapse" href="#collapseProfile" role="button" aria-expanded="false" aria-controls="collapseExample">
        Ver mais
    </a>
</div>